


.signup-link {
    margin-top: 30px;
    font-size: 0.9rem;
    text-align: center;
    color: #6c757d;
  }
  .image-sec{
    max-width: 100%;
  }
  .image-sec{
    position: relative;
    right: 20%;
  }

 .wraber-log{
    background: linear-gradient(135deg, #DAD2F6, #f8f9fd);
 } 
